/* global styels */
:root{
    --main-color-bg : #24353F;
    --main-color : #17A2B8 ;
   
}
.main-color-bg{
   background-color: var(--main-color-bg);
}
.main-color {
    color: var(--main-color);
}
body{
    font-family: "Titillium Web", sans-serif;
}
h1{
    font-family: "Archivo", sans-serif;
}

/* main styels */
.container > div{
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.45);
}
p a:hover {
text-decoration: underline !important;
}
nav {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.btn-outline-info:hover {
    --bs-btn-hover-color : #fff;
    --bs-btn-hover-bg : #17A2B8;
    --bs-btn-hover-border-color :#17A2B8;  
}
.btn-outline-warning:hover{
    color:#ffffffc8 !important;
}
/* signup */
#signupAlert2{
    color: #288E41;
}